<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos</title>
     <link rel="stylesheet" href="/styleFORM.css">
</head>
<body>
    <main>
        <header>
            <h1>Cadastro de Alunos</h1>
        </header>
    </main>
    <section>
        <form method="post" action="/alunos/cadastro">
            Matricula: <input type="text" name="matricula" id="matricula">
            Nome: <input type="text" name="nome" id="nome">
            Email: <input type="text" name="email" id="email">
            Turma: <input type="text" name="turma" id="turma">
            Serie: <input type="text" name="serie" id="serie">
            Sexo: <input type="text" name="sexo" id="sexo">
            Telefone <input type="tel" name="telefone" id="telefone">
            Endereço: <input type="text" name="endereco" id="endereco">
            Responsavel: <input type="text" name="responsavel" id="responsavel">
            <input type="submit" value="Cadastrar">
        </form>
    </section>
</body>
</html>