<!-- home.ejs -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styleHOME.css">
</head>
<body>
    <main>
        <header>
            <h1>Welcome to the Home Page</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/alunos">Cadastro de Alunos</a></li>
                <li><a href="/alunos/listarAlunos">Listagem de Alunos</a></li>
                <li><a href="/alunos/formCadastroUser">Excluir Alunos</a></li>
                <li><a href="/alunos/editarAluno">Editar Alunos</a></li>
            </ul>
        </nav>
    </main>
    <footer>
        <p>Copyright © 2024</p>
    </footer>
</body>
</html>

