body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Light gray background */
    color: #333; /* Dark text color */
    margin: 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ecf0f1; /* Light blue-gray background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

header {
    background-color: #2ecc71; /* Dark green header background */
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

section {
    background-color: #fff; /* White section background */
    padding: 20px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

form {
    display: grid;
    grid-gap: 10px;
}

input {
    padding: 8px;
    border: 1px solid #2ecc71; /* Dark green border for input fields */
}

input[type="submit"] {
    background-color: #2ecc71; /* Dark green submit button background */
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
}

input[type="submit"]:hover {
    background-color: #27ae60; /* Darker green on hover */
}

/* Add styling for input fields when disabled */
input[disabled] {
    background-color: #d3d3d3; /* Light gray background for disabled fields */
}

button {
    background-color: #3498db; /* Blue button background */
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px;
}

button a {
    color: #fff;
    text-decoration: none;
}

button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}
